header{
    color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 25px #1d1d1d;
    position: sticky;
    top: 0;
    z-index: 99999;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
header .header-top{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    background: var(--main-color-blacks);
}
header .header-top{
    flex: 1;
    gap: 10px;
}
.header-top>a{
    color: #f0f8ff;
    padding-right: 5px;
}
.header-top>a:hover{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.right-boder{
    border-right: 1px solid #818181;
    height: 100%;
}

header .header-top .right-menu {
    flex: 1;
    justify-content: end;
    gap: 20px;
}
header .header-top .right-menu .social-media{
    gap: 10px;
    color: #ffffff;
}
header .header-top .right-menu .social-media a{
    display: flex;
    border: solid 2px white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
header .header-top .right-menu .social-media a i{
    font-size: 0.8rem;
}
header .header-top .right-menu .social-media a:hover{
    color: var(--main-color);
    border: solid 2px var(--main-color);
    text-decoration: none;
}
header .header-top .right-menu .search-bar{
    align-items: center;
    font-size: 1.5rem;
    gap: 5px;
    border: 1px solid white;
    border-radius: 5px 5px 0 0;
}
header .header-top .right-menu .search-bar:hover{
    cursor: pointer;
    color: var(--main-color);
}
.header-top .right-menu .search-bar i{
    padding: 0 5px;
}
.header-top .right-menu .search-bar input{
    border: none;
    height: 30px;
    border-radius: 5px 0 0 0;
    font-size: 1rem;
    width: 0;
    background: black;
    transition: 0.5s;
}
.header-top .right-menu .search-bar:hover input{
    width: 150px;
    border-bottom: 5px solid var(--main-color);
    background: white;
    display: block;
}
.header-bottom{
    height: 100px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: var(--main-color-black);
    padding: 2px 10%;
    justify-content: space-evenly;
}
header .header-bottom .h-logo{
    height: 100%;
    flex: 2;
}
.header-bottom .h-logo>.logo-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Comfortaa;
    color: #e0b566;
}
header .header-bottom .h-pub-one{
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    padding: 10px 0;
}
.header-bottom .h-logo img,
.header-bottom .h-pub-one img{
    height: 98%;
}
.menu-left{
    padding: 10px 10%;
    background-color: var(--main-color-black);
}

.menu-left a{
    padding: 15px 25px;
    color: #f0f8ff;
    margin: 5px;
    font-size: 1.2rem;
    
}
.menu-left a:hover{
    border-radius: 10px;
    background-color: #1d1d1d;
    color: #f0f8ff;
    text-decoration: none;
    border: 1px solid #f0f8ff;
}

/* .menu-left{
    padding: 0 5%;
    background: var(--main-color-black);
    margin-top: 1px solid var(--main-color-blacks);
}
.menu-left ul{
    gap: 10px;
    height: 100%;
}

.menu-left ul li a:hover{
    text-decoration: none;
}
.menu-left ul li{
    padding: 20px 0;
    width: 100px;
    height: 100%;
}
.menu-left ul li>ul{
    display: none;
}
 .menu-left ul li:hover{
    border-bottom: 3px solid #f0f8ff;
} */

