.containers{
    gap: 5px;
    width: 90%;
    max-width: 1500px;
    margin: 10px auto;
    overflow: hidden;
    overflow-x: auto;
}
.containers .a-title,
.containers .a-description a{
    background-color: var(--main-color);
    padding: 0 10px;
    text-transform: uppercase;
    color: #f0f8ff;
    font-weight: 600;
    text-decoration: none;
}
.containers .a-description a{
    background-color: #ffffff;
    color: black;
}
.big-news>.containers{
    gap: 5px;
    width: 90%;
    max-width: 1500px;
    margin: 10px auto;
    overflow: hidden;
    overflow-x: auto;
    height: 70vh;
}
.all-items{
    gap: 5px;
}
/* .all-items:hover .lastItem,
.all-items:focus .lastItem {
  transform: scale(1.2);
} */
.lastItem{
    position: relative;
    flex: 3;
    height: 550px;
    background-position: center;
    background-size: cover;
}

.lastItem .lastItem-description{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: aliceblue;
    padding: 15px;
}

.bottom-other .other-description .category,
.lastItem-description .category,
.avant-description .category{
    text-transform: uppercase;
    background-color: #222222;
    padding: 5px;
    width: fit-content;
}
.lastItem-description .author-date p:first-child{
    font-weight: bolder;
}
.othersItem{
    flex: 3;
    height: 550px;
    flex-direction: column;
    gap: 5px;
}
.avantLastArticle{
    flex: 3;
    height: 55%;
    position: relative;
}
/* .bottom-other .other-description, */
.othersItem .avant-description{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: aliceblue;
    padding: 15px;
}
.othersItem .others-bottom{
    gap: 5px;
    height: 45%;
}
.others-bottom .bottom-other{
    flex: 1;
    position: relative;
}
.bottom-other .other-description{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: aliceblue;
    padding: 15px;
}
.big-news>.category-index{
    margin: 10px 0;
}
.big-news>.category-index .category-title{
    border-bottom: 2px solid var(--main-color);
}
.big-news>.category-index .category-title h5{
    color: #f0f8ff;
    background-color: var(--main-color);
    width: 120px;
    /* padding: 0 5px; */
}
.big-news>.category-index .category-title h5:hover{
    text-decoration: underline;
}
/*
.articles{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.articles .article-item .article-details {
    padding: 5px;
    gap: 5px;
}
.articles .article-item{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 13px #ccc;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
}
.articles .article-item:hover{
    background-color: var(--main-color);
    color: white;
}
.articles .article-item .article-image img{
    width: 100%;
    height: 200px;
}
.article-author-picture img{
    width: 50px;
    height: 50px;
    border-radius:100px;
    border: 4px solid var(--main-color);
    box-shadow: 2px 2px 13px #ccc;
}
.articles-infos{
    text-align: center;
    padding: 10px 0;
}
/* .articles .article-item .article-title{
    font-size: 1.2rem;
} */