.slider{
    margin: 10px 0;
    padding: 0 5%;
}
.slider-content{
}
.carousel-item{
    position: relative;
}
.carousel-item .carousel-caption{
    background:
    linear-gradient(black, transparent);
    opacity: 0.6;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    text-align: left;
}
.carousel-item .category{
    position: absolute;
    top: 0;
    background-color: red;
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}
.carousel-item .carousel-caption a{
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    margin-right: 5px;
}

.carousel-item .carousel-caption p{
    color: white;
}