table{
    border-collapse: collapse;
}
.table-container{
    overflow-x: auto;
}
table td, table th{
    border: 1px solid #ccc;
}
table td {
    height: 250px;
    overflow: hidden;
}
table td .article-content{
    overflow: hidden;
    line-height: 1.5;
}
table td img{
    width: 100%;
    height: 100%;
}
table td.td-content{
    padding-bottom: 10px;
}
table td a.btn-read{
    display: inline-block;
    float: right;
    width: auto;
    margin: 10px 5px;
}
