<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Bienvenue!
      {% endblock %}
    </title>
    <link rel="icon" href="_assets/images/images_systeme/tan_logo.png" />
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
      <link rel="stylesheet" href="/_assets/css/main.css" />
      <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% endblock %}
  </head>
  <body>
    <header>
    <div class="header-top flex">
        <div class="right-boder"></div>
        <a href="/">Acceuil</a>
        <div class="right-boder"></div>
        <a href="">Qui sommes nous</a>
        <div class="right-boder"></div>
        <a href="">Nous contacter</a>
        <div class="right-boder"></div>
        {% if app.user %}
        <a href="/account">Compte</a></li>
        <div class="right-boder"></div>
        <a href="/logout">Déconnexion</a></li>
        {% else %}
        <a href="/login">Connexion</a></li>
        {% endif %}
        <div class="right-boder"></div>
      <div class="right-menu flex">
        <div class="social-media flex">
          <a href=""><i class="fa-brands fa-facebook-f"></i></a>
          <a href=""><i class="fa-brands fa-youtube"></i></a>
          <a href=""><i class="fa-brands fa-twitter"></i></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></i></a>
        </div>
      {# <div class="left-menu">
        <i class="fa-solid fa-bars-staggered fa-rotate-180"></i>
      </div> #}
      {# <a href="/">
        <img src="/_assets/images/images_systeme/tan_logo.png" alt="" />
      </a> #}

        {# <div class="search-bar flex">
          <input type="text" name="" id="" placeholder="Chercher un article">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div> #}
      </div>
    </div>
    <div class="header-bottom flex">
      <div class="h-logo flex gap-10">
        <a href="/">
          <img src="/_assets/images/images_systeme/tan_logo.png" alt="">
        </a>
        <div class="logo-title">
          <h4>TUMAINI AFRICA</h4>
          <h4>MEDIA</h4>
        </div>
      </div>
      <div class="h-pub-one">
        <img src="/_assets/images/images_systeme/air.png" alt="">
      </div>
    </div>
      <div class="menu-left">
        {% for category in app.session.get('categories') %}
          <a href="/article_by_category/{{ category.slug }}">
            {% if category.name == 'Politique' %}
            <i class="fa-regular fa-newspaper"></i>
            {% endif %}
            {% if category.name == 'Sport' %}
            <i class="fa-solid fa-futbol"></i>
            {% endif %}
            {% if category.name == 'Musique' %}
            <i class="fa-solid fa-music"></i>
            {% endif %}
            {% if category.name == 'Divers' %}
            <i class="fa-solid fa-hands-asl-interpreting"></i>
            {% endif %}
            {% if category.name == 'Technologie' %}
            <i class="fa-solid fa-computer"></i>
            {% endif %}
            {% if category.name == 'Religion' %}
            <i class="fa-solid fa-cross"></i>
            {% endif %}
              {{ category.name }}
        {% endfor %}
        <a href="">Publicité</a>
      </div>
    </header>
    {% block slider %}

    {% endblock %}
    {% block header %}

    {% endblock %}
    <div class="containers flex gap-5">
      {# <div class="flex flex-1"> #}
        {% block body %}

        {% endblock %}
      {# </div> #}
      {% if aside is not defined %}
        {% include 'aside/index.html.twig' %}
      {% endif %}
    </div>
    <footer>
      <div class="container">
        <div class="footer-content flex wrap">
          <div class="footer-content-item flex-1 b">
            <h2>
              Blog
            </h2>
            <p>
              Site d'informations et d'actualités sur tous les sujets relatifs à
              l'informatique, l'economie, la situation dans le monde, etc...
            </p>
          </div>
          <div class="footer-content-item flex-1 b">
            <h2>
              Mentions légales
            </h2>
            <ul>
              <li><a href="">Condition d'utilisation</a></li>
              <li><a href="">Condition de ventes</a></li>
              <li><a href="">Condition de publication</a></li>
            </ul>
          </div>
          <div class="footer-content-item flex-1 b">
            <h2>
              Formations gratuites
            </h2>
            <ul>
              <li>
                <a href="https://free.mudey.fr/programme/apprendre-les-bases-indispensables-du-langage-html-5"
                  target="_blank">
                  Les bases HTML 5
                </a>
              </li>
              <li>
                <a href="https://free.mudey.fr/programme/apprendre-les-bases-indispensables-du-langage-css-3"
                  target="_blank">
                  Les bases CSS 3
                </a>
              </li>
              <li>
                <a href="https://free.mudey.fr/programme/apprendre-les-bases-indispensables-du-langages-javascript"
                  target="_blank">
                  Les bases JavaScript
                </a>
              </li>
              <li>
                <a href="https://free.mudey.fr/programme/les-bases-indispensables-du-langage-php"
                  target="_blank">
                  Les bases PHP
                </a>
              </li>
              <li>
                <a href="https://mudey.fr/programme/formation-complete-developpeur-web-full-stack"
                  target="_blank">
                  Devenir Expert du Web
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="/_assets/js/jquery-3.6.4.js"></script>
    <script src="/_assets/js/readmore.min.js"></script>
    <script src="/_assets/js/select2.js"></script>
    <script src="/_assets/js/editor.js"></script>
    <script src="/_assets/js/main.js"></script>
    {# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> #}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </body>
</html>
