{% extends 'base.html.twig' %}
{% block title %}
  Erreur 404 | TAM Media
{% endblock %}
{% block header %}
  {{
    include(
      'header/header.html.twig',
      {
        name: 'Erreur'
      }
    )
  }}
{% endblock %}

{% block body %}
  <h1>
    Erreur
  </h1>
  <p>Page introuvable</p>
{# 
  <p>
    The requested page couldn't be located. Checkout for any URL misspelling or <a href="{{
      path(
        'homepage'
      )
      }}">
      return to the homepage
    </a>. #}
  </p>
{% endblock %}
