{% extends 'base.html.twig' %}

{% block title %}Création de l'article{% endblock %}
{% set aside = 'not' %}
{% block body %}
  <div class="UserDashboard flex gap-20">
    {{ include('account_dashboard/index.html.twig', { page: 'new'}) }}
    <div class="UserDashboard-container">
    {{ include('article/_form.html.twig', {title: "Créer un nouveau article", required: "required"}) }}
  </div>
  </div>

    {# <a href="{{ path('app_article_index') }}">Voir la liste des articles</a> #}
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.choices_categories').select2();
            $("input[type='file']").change(function(){
                var file = $(this).get(0).files[0]
                console.log(file)
                if(file){
                    var reader = new FileReader();
                    reader.onload = function(){
                        var img = `<img src='${reader.result}' alt="Preview Image"/>`;
                        $(".image-preview").html(img)
                    }
                    reader.readAsDataURL(file)
                }
            })
        });
        ClassicEditor
            .create( document.querySelector( '#article_content' ) )
            .then( editor => {
                    console.log( editor );
            } )
            .catch( error => {
                console.error( error );
            } );
        
    </script>
{% endblock %}
